USE [master]
GO
/****** Object:  Database [QLNThuoc]    Script Date: 4/12/2025 9:39:54 PM ******/
CREATE DATABASE [QLNThuoc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLNThuoc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLNThuoc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLNThuoc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLNThuoc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLNThuoc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLNThuoc]
GO
/****** Object:  Table [dbo].[CTHoaDon]    Script Date: 4/12/2025 9:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHoaDon](
	[maHD] [nvarchar](10) NOT NULL,
	[maThuoc] [nvarchar](10) NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [float] NOT NULL,
 CONSTRAINT [PK_CTHoaDon] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[maThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuDoi]    Script Date: 4/12/2025 9:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuDoi](
	[maPD] [nvarchar](10) NOT NULL,
	[maThuocCu] [nvarchar](10) NOT NULL,
	[soLuongCu] [int] NOT NULL,
	[donGiaCu] [float] NOT NULL,
	[maThuocMoi] [nvarchar](10) NOT NULL,
	[soLuongMoi] [int] NOT NULL,
	[donGiaMoi] [float] NOT NULL,
	[tongTien] [float] NOT NULL,
 CONSTRAINT [PK_CTPhieuDoiTra] PRIMARY KEY CLUSTERED 
(
	[maPD] ASC,
	[maThuocCu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuNhap]    Script Date: 4/12/2025 9:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuNhap](
	[maPN] [nvarchar](50) NOT NULL,
	[maThuoc] [nvarchar](10) NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [float] NOT NULL,
 CONSTRAINT [PK_CTPhieuNhap] PRIMARY KEY CLUSTERED 
(
	[maPN] ASC,
	[maThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuTra]    Script Date: 4/12/2025 9:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuTra](
	[maPT] [nvarchar](10) NOT NULL,
	[maThuoc] [nvarchar](10) NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGia] [float] NOT NULL,
 CONSTRAINT [PK_CTPhieuTra] PRIMARY KEY CLUSTERED 
(
	[maPT] ASC,
	[maThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 4/12/2025 9:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[maDM] [nvarchar](10) NOT NULL,
	[tenDM] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DanhMuc_1] PRIMARY KEY CLUSTERED 
(
	[maDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonViTinh]    Script Date: 4/12/2025 9:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonViTinh](
	[maDVT] [nvarchar](10) NOT NULL,
	[tenDVT] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DonViTinh] PRIMARY KEY CLUSTERED 
(
	[maDVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 4/12/2025 9:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHD] [nvarchar](10) NOT NULL,
	[maNV] [nvarchar](10) NOT NULL,
	[maKH] [nvarchar](10) NOT NULL,
	[thoiGian] [datetime] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/12/2025 9:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKH] [nvarchar](10) NOT NULL,
	[tenKH] [nvarchar](50) NOT NULL,
	[gioiTinh] [nvarchar](10) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[tuoi] [int] NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 4/12/2025 9:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[maNCC] [nvarchar](10) NOT NULL,
	[tenNCC] [nvarchar](50) NOT NULL,
	[diaChiNCC] [nvarchar](50) NOT NULL,
	[SĐT] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[maNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/12/2025 9:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [nvarchar](10) NOT NULL,
	[hoTen] [nvarchar](50) NOT NULL,
	[sdt] [varchar](12) NOT NULL,
	[gioiTinh] [nvarchar](50) NOT NULL,
	[dtSinh] [date] NOT NULL,
	[ngayVaoLam] [date] NOT NULL,
	[chucVu] [nvarchar](50) NOT NULL,
	[CCCD] [nvarchar](12) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDoi]    Script Date: 4/12/2025 9:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDoi](
	[maPD] [nvarchar](10) NOT NULL,
	[maNV] [nvarchar](10) NOT NULL,
	[maKH] [nvarchar](10) NOT NULL,
	[maHD] [nvarchar](10) NOT NULL,
	[thoiGian] [date] NOT NULL,
	[lyDo] [nvarchar](150) NULL,
 CONSTRAINT [PK_PhieuDoiTra] PRIMARY KEY CLUSTERED 
(
	[maPD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 4/12/2025 9:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[maPN] [nvarchar](50) NOT NULL,
	[maNV] [nvarchar](10) NOT NULL,
	[maNCC] [nvarchar](10) NOT NULL,
	[trangThai] [nvarchar](50) NOT NULL,
	[thoiGian] [datetime] NOT NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[maPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuTra]    Script Date: 4/12/2025 9:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuTra](
	[maPT] [nvarchar](10) NOT NULL,
	[maNV] [nvarchar](10) NULL,
	[maKH] [nvarchar](10) NULL,
	[maHD] [nvarchar](10) NULL,
	[thoiGian] [date] NULL,
	[lyDo] [nvarchar](150) NULL,
 CONSTRAINT [PK_PhieuTra] PRIMARY KEY CLUSTERED 
(
	[maPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 4/12/2025 9:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[maTK] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[maNV] [nvarchar](10) NULL,
 CONSTRAINT [PK__TaiKhoan__7A22625E9B882179] PRIMARY KEY CLUSTERED 
(
	[maTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 4/12/2025 9:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuoc](
	[maThuoc] [nvarchar](10) NOT NULL,
	[tenThuoc] [nvarchar](50) NOT NULL,
	[anh] [varbinary](max) NULL,
	[thanhPhanThuoc] [nvarchar](50) NULL,
	[maDM] [nvarchar](10) NOT NULL,
	[maDVT] [nvarchar](10) NOT NULL,
	[maXX] [nvarchar](10) NOT NULL,
	[soLuong] [int] NOT NULL,
	[giaNhap] [float] NOT NULL,
	[donGia] [float] NOT NULL,
	[HSD] [datetime] NOT NULL,
 CONSTRAINT [PK_Thuoc_1] PRIMARY KEY CLUSTERED 
(
	[maThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XuatXu]    Script Date: 4/12/2025 9:39:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XuatXu](
	[maXX] [nvarchar](10) NOT NULL,
	[tenXX] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_XuatXu] PRIMARY KEY CLUSTERED 
(
	[maXX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DanhMuc] ([maDM], [tenDM]) VALUES (N'DM-01', N'Thuốc cảm cúm')
INSERT [dbo].[DanhMuc] ([maDM], [tenDM]) VALUES (N'DM-02', N'Thuốc đau đầu')
INSERT [dbo].[DanhMuc] ([maDM], [tenDM]) VALUES (N'DM-03', N'Thuốc kháng sinh')
GO
INSERT [dbo].[DonViTinh] ([maDVT], [tenDVT]) VALUES (N'DVT-01', N'Viên')
INSERT [dbo].[DonViTinh] ([maDVT], [tenDVT]) VALUES (N'DVT-02', N'Hộp')
INSERT [dbo].[DonViTinh] ([maDVT], [tenDVT]) VALUES (N'DVT-03', N'Chai')
GO
INSERT [dbo].[HoaDon] ([maHD], [maNV], [maKH], [thoiGian]) VALUES (N'HD-01', N'NV-01', N'KH-01', CAST(N'2025-04-12T02:57:00.000' AS DateTime))
INSERT [dbo].[HoaDon] ([maHD], [maNV], [maKH], [thoiGian]) VALUES (N'HD-02', N'NV-02', N'KH-02', CAST(N'2025-04-12T02:58:00.000' AS DateTime))
INSERT [dbo].[HoaDon] ([maHD], [maNV], [maKH], [thoiGian]) VALUES (N'HD-03', N'NV-03', N'KH-03', CAST(N'2025-04-12T02:58:00.000' AS DateTime))
GO
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [gioiTinh], [SDT], [tuoi]) VALUES (N'KH-01', N'Nguyễn Văn Bảo', N'Nam', N'0901000001', 19)
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [gioiTinh], [SDT], [tuoi]) VALUES (N'KH-02', N'Lê Thị Bình', N'Nữ', N'0901000002', 20)
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [gioiTinh], [SDT], [tuoi]) VALUES (N'KH-03', N'Trần Văn Sỹ', N'Nam', N'0901000003', 23)
GO
INSERT [dbo].[NhaCungCap] ([maNCC], [tenNCC], [diaChiNCC], [SĐT]) VALUES (N'NCC-01', N'Công ty CP Dược Hậu Giang', N'Cần Thơ', N'0281000001')
INSERT [dbo].[NhaCungCap] ([maNCC], [tenNCC], [diaChiNCC], [SĐT]) VALUES (N'NCC-02', N'Công ty Dược phẩm TraPhaco', N'Hà Nội', N'0281000002')
INSERT [dbo].[NhaCungCap] ([maNCC], [tenNCC], [diaChiNCC], [SĐT]) VALUES (N'NCC-03', N'Công ty TNHH Sanofi - Avetis Việt Nam', N'TP.HCM', N'0281000003')
GO
INSERT [dbo].[NhanVien] ([maNV], [hoTen], [sdt], [gioiTinh], [dtSinh], [ngayVaoLam], [chucVu], [CCCD]) VALUES (N'NV-01', N'Đinh Ngọc Dĩ Hào', N'0909000001', N'Nam', CAST(N'2004-02-11' AS Date), CAST(N'2025-12-04' AS Date), N'Quản lý', N'070204000001')
INSERT [dbo].[NhanVien] ([maNV], [hoTen], [sdt], [gioiTinh], [dtSinh], [ngayVaoLam], [chucVu], [CCCD]) VALUES (N'NV-02', N'Trần Huỳnh Sỹ Đạt', N'0909000002', N'Nam', CAST(N'2004-02-22' AS Date), CAST(N'2025-12-04' AS Date), N'Quản lý', N'020304000002')
INSERT [dbo].[NhanVien] ([maNV], [hoTen], [sdt], [gioiTinh], [dtSinh], [ngayVaoLam], [chucVu], [CCCD]) VALUES (N'NV-03', N'Phan Nhật Đăng', N'0909000003', N'Nam', CAST(N'2004-03-11' AS Date), CAST(N'2025-12-04' AS Date), N'Quản lý', N'070204000003')
GO
INSERT [dbo].[TaiKhoan] ([maTK], [UserName], [Password], [maNV]) VALUES (N'TK-01', N'DiHao', N'12345678', N'NV-01')
INSERT [dbo].[TaiKhoan] ([maTK], [UserName], [Password], [maNV]) VALUES (N'TK-02', N'SyDat', N'12345678', N'NV-02')
INSERT [dbo].[TaiKhoan] ([maTK], [UserName], [Password], [maNV]) VALUES (N'TK-03', N'DangPhan', N'12345678', N'NV-03')
GO
INSERT [dbo].[XuatXu] ([maXX], [tenXX]) VALUES (N'XX-01', N'Mỹ')
INSERT [dbo].[XuatXu] ([maXX], [tenXX]) VALUES (N'XX-02', N'Nga')
INSERT [dbo].[XuatXu] ([maXX], [tenXX]) VALUES (N'XX-03', N'Đức')
GO
ALTER TABLE [dbo].[CTHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHoaDon_HoaDon] FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[CTHoaDon] CHECK CONSTRAINT [FK_CTHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[CTHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHoaDon_Thuoc] FOREIGN KEY([maThuoc])
REFERENCES [dbo].[Thuoc] ([maThuoc])
GO
ALTER TABLE [dbo].[CTHoaDon] CHECK CONSTRAINT [FK_CTHoaDon_Thuoc]
GO
ALTER TABLE [dbo].[CTPhieuDoi]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuDoi_CTPhieuDoi] FOREIGN KEY([maPD])
REFERENCES [dbo].[PhieuDoi] ([maPD])
GO
ALTER TABLE [dbo].[CTPhieuDoi] CHECK CONSTRAINT [FK_CTPhieuDoi_CTPhieuDoi]
GO
ALTER TABLE [dbo].[CTPhieuDoi]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuDoi_Thuoc] FOREIGN KEY([maThuocCu])
REFERENCES [dbo].[Thuoc] ([maThuoc])
GO
ALTER TABLE [dbo].[CTPhieuDoi] CHECK CONSTRAINT [FK_CTPhieuDoi_Thuoc]
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuNhap_CTPhieuNhap] FOREIGN KEY([maThuoc])
REFERENCES [dbo].[Thuoc] ([maThuoc])
GO
ALTER TABLE [dbo].[CTPhieuNhap] CHECK CONSTRAINT [FK_CTPhieuNhap_CTPhieuNhap]
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuNhap_PhieuNhap] FOREIGN KEY([maPN])
REFERENCES [dbo].[PhieuNhap] ([maPN])
GO
ALTER TABLE [dbo].[CTPhieuNhap] CHECK CONSTRAINT [FK_CTPhieuNhap_PhieuNhap]
GO
ALTER TABLE [dbo].[CTPhieuTra]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuTra_PhieuTra] FOREIGN KEY([maPT])
REFERENCES [dbo].[PhieuTra] ([maPT])
GO
ALTER TABLE [dbo].[CTPhieuTra] CHECK CONSTRAINT [FK_CTPhieuTra_PhieuTra]
GO
ALTER TABLE [dbo].[CTPhieuTra]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuTra_Thuoc] FOREIGN KEY([maThuoc])
REFERENCES [dbo].[Thuoc] ([maThuoc])
GO
ALTER TABLE [dbo].[CTPhieuTra] CHECK CONSTRAINT [FK_CTPhieuTra_Thuoc]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[PhieuDoi]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDoi_HoaDon] FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[PhieuDoi] CHECK CONSTRAINT [FK_PhieuDoi_HoaDon]
GO
ALTER TABLE [dbo].[PhieuDoi]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDoi_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[PhieuDoi] CHECK CONSTRAINT [FK_PhieuDoi_KhachHang]
GO
ALTER TABLE [dbo].[PhieuDoi]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDoi_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[PhieuDoi] CHECK CONSTRAINT [FK_PhieuDoi_NhanVien]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhaCungCap] FOREIGN KEY([maNCC])
REFERENCES [dbo].[NhaCungCap] ([maNCC])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien]
GO
ALTER TABLE [dbo].[PhieuTra]  WITH CHECK ADD  CONSTRAINT [FK_PhieuTra_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[PhieuTra] CHECK CONSTRAINT [FK_PhieuTra_KhachHang]
GO
ALTER TABLE [dbo].[PhieuTra]  WITH CHECK ADD  CONSTRAINT [FK_PhieuTra_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[PhieuTra] CHECK CONSTRAINT [FK_PhieuTra_NhanVien]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK__TaiKhoan__maNV__5535A963] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK__TaiKhoan__maNV__5535A963]
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [FK_Thuoc_DanhMuc] FOREIGN KEY([maDM])
REFERENCES [dbo].[DanhMuc] ([maDM])
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [FK_Thuoc_DanhMuc]
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [FK_Thuoc_DonViTinh] FOREIGN KEY([maDVT])
REFERENCES [dbo].[DonViTinh] ([maDVT])
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [FK_Thuoc_DonViTinh]
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [FK_Thuoc_XuatXu] FOREIGN KEY([maXX])
REFERENCES [dbo].[XuatXu] ([maXX])
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [FK_Thuoc_XuatXu]
GO
USE [master]
GO
